*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.kiro
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/public/*.hot
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/storage/app/public
/storage/debugbar/
/storage/testing/
/vendor
/.cache
/.composer
/.turbo
/.parcel-cache
/.eslintcache
/.stylelintcache
/.php-cs-fixer.cache
composer.phar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
ehthumbs.db
Icon?
Desktop.ini
Homestead.json
Homestead.json
Homestead.yaml
Thumbs.db

# Test artifacts
/coverage
/junit.xml
/clover.xml
